* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}
