.page-wrapper {
    z-index: 0;
    display: relative;
}

.container {
    width: 90vw;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-medium {
    margin-bottom: 32px;
}

.margin-bottom-xlarge {
    margin-bottom: 56px;
}

.padding-vertical-xlarge {
    padding-top: 120px;
    padding-bottom: 120px;
}
