.section-timeline {
    z-index: -3;
    background-color: #0a0a0a;
    position: relative;
}

.section-timeline-heading {
    background-color: #0a0a0a;
}

.timeline-main_heading-wrapper {
    color: #fff;
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.timeline_component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.timeline_item {
    z-index: 2;
    grid-template-columns: 1fr 180px 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    position: relative;
}

.timeline_left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
}

.timeline_centre {
    justify-content: center;
    display: flex;
}

.timeline_circle {
    background-color: #fff;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    position: sticky;
    top: 50vh;
    box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline_progress {
    z-index: -2;
    background-color: #414141;
    width: 3px;
    height: 100%;
    position: absolute;
}

.timeline_progress-bar {
    z-index: -1;
    background: linear-gradient(to bottom, #FF7F00, #FFC300);
    width: 3px;
    height: 50vh;
    position: fixed;
    inset: 0 auto 50vh;
}

.timeline_link {
    opacity: 0.6;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: opacity 0.3s;
    display: flex;
}

.timeline_link:hover {
    opacity: 1;
}

.link-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}
